@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: figtree;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    width: 840px;
    margin: 40px;
    display: flex;
    flex-direction: column;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 62px 92px;
    border-radius: 16px;
    border: 1px solid #E3E8EF;
    background: #FFF;
    box-shadow: 0px 0px 184px 0px rgba(0, 0, 0, 0.25);
}

.text-todo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.tittle-todo {
    color: #252526;
    text-align: center;
    font-family: Figtree;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

.discription-todo {
    color: #878787;
    text-align: center;
    font-family: Figtree;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.search-header {
    display: flex;
    width: -webkit-fill-available;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    border-radius: 25px;
    border: 1px solid #E3E8EF;
    background: #F6F7F9;
    gap: 12px;
    position: relative;
    overflow: hidden;
    padding: 14px 52px 14px 20px;
}

.search-header textarea {
    border: none;
    outline: none;
    resize: none;
    line-height: 140%;
    background-color: transparent;
    font-size: 14px;
    width: inherit;
    overflow-y: auto;
    max-height: 120px;
}




.add-button {
    display: flex;
    border: none;
    outline: none;
    width: 34px;
    height: 34px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #64ED80;
    position: absolute;
    right: 7px;
    bottom: 7px;
    cursor: pointer;
}

.inner-container {
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
    gap: 12px;
    padding: 12px;
    border-radius: 24px;
    border: 1px solid #E3E8EF;
    background: #F6F7F9;
}

.tab-container {
    display: flex;
    width: inherit;
    justify-content: space-between;
}

.tabs {
    display: flex;
    gap: 6px;
}


.tab {
    display: flex;
    height: 32px;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 19px;
    border: 1px solid #E3E8EF;
    background: #FFF;
    cursor: pointer;
}

.delete-complteted {
    color: #0059FF;
    text-decoration-line: underline;
    text-decoration-style: solid;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.search-tabs {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    border-radius: 25px;
    border: 1px solid #E3E8EF;
    background: #F6F7F9;
    gap: 12px;
    position: relative;
    overflow: hidden;
    padding: 14px 52px 14px 20px;
    background-color: white;
    outline: none;
}

.search-tabs:focus {
    outline: 2px solid #64ED80;
    outline-offset: 2px;
 }

.checkbox input[type="checkbox"] {
    width: 21px;
    height: 21px;
    accent-color: #64ED80;
}

.checkbox {
    padding: 6px 12px;
    display: flex;
    justify-content: center;
}

.tasks {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.task-container {
    display: flex;
    width: 100%;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 16px;
    border: 1px solid #E3E8EF;
    background: #FFF;
    padding: 6px 0;
}

.task {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 6px 12px;
}

.task-content {
    line-height: 140%;
}

.timing {
    font-size: 12px;
    line-height: 200%;
    color: rgb(75, 75, 75);
    padding-left: 24px;
}

.task-container img {
    padding: 6px 12px;
    cursor: pointer;
}

.task-content.completed{
    text-decoration: line-through;
    opacity: .5;
}
